<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>好享推</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>需要相机以提供您二维码扫描，身份信息认证等功能</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要打开蓝牙以连接您的POS机</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要使用您的相册以保存图片</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>好享推</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要使用您的相机以扫描省份证件</string>
</dict>
</plist>
